<%- include("partials/header.ejs") %>
<main class="monitoring">
  <h1 class="subtitle">Мониторинг</h1>
  <div class="locations">
    <div><a href="StaraZagora">Стара Загора</a></div>
    <div><a href="Sofia">София</a></div>
    <div><a href="Plovdiv">Пловдив</a></div>
    <div><a href="Burgas">Бургас</a></div>
    <div><a href="Varna">Варна</a></div>
  </div>
  <h2 class="location-name"><%= location %></h2>
  <div class="sensors-data">
    <div>
      <p>Наличие на CO (Въглероден оксид)</p>
      <p id="co" class="sensor <%= levels.co %>"><%= sensorData.co %></p>
    </div>
    <div>
      <p>Наличие на NO2 (Азотен диоксид)</p>
      <p id="no2" class="sensor <%= levels.no2 %>"><%= sensorData.no2 %></p>
    </div>
    <div>
      <p>Наличие на O3 (Озон)</p>
      <p id="o3" class="sensor <%= levels.o3 %>"><%= sensorData.o3 %></p>
    </div>
    <div>
      <p>Наличие на фини прахови частици</p>
      <p id="pm10" class="sensor <%= levels.pm10 %>"><%= sensorData.pm10 %></p>
    </div>
    <div>
      <p>Наличие на So2 (Серен диоксид)</p>
      <p id="so2" class="sensor <%= levels.so2 %>"><%= sensorData.so2 %></p>
    </div>
  </div>
</main>
<link rel="stylesheet" href="/styles/monitor.css">
<%- include("partials/footer.ejs") %>
